<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.SalesManagement.concrete.mapper.ConcreteMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM concrete a
        <where>
            <if test="param.id != null">
                AND a.id = #{param.id}
            </if>
            <if test="param.orderid != null">
                AND a.OrderId = #{param.orderid}
            </if>
            <if test="param.strengthlevel != null">
                AND a.Strengthlevel LIKE CONCAT('%', #{param.strengthlevel}, '%')
            </if>
            <if test="param.slump != null">
                AND a.Slump LIKE CONCAT('%', #{param.slump}, '%')
            </if>
            <if test="param.impermeabilitylevel != null">
                AND a.Impermeabilitylevel LIKE CONCAT('%', #{param.impermeabilitylevel}, '%')
            </if>
            <if test="param.frostresistancelevel != null">
                AND a.FrostResistancelevel LIKE CONCAT('%', #{param.frostresistancelevel}, '%')
            </if>
            <if test="param.sulfateresistancelevel != null">
                AND a.SulfateResistancelevel LIKE CONCAT('%', #{param.sulfateresistancelevel}, '%')
            </if>
            <if test="param.chlorideionresistancelevel != null">
                AND a.Chlorideionresistancelevel LIKE CONCAT('%', #{param.chlorideionresistancelevel}, '%')
            </if>
            <if test="param.admixture != null">
                AND a.Admixture LIKE CONCAT('%', #{param.admixture}, '%')
            </if>
            <if test="param.specialrawmaterials != null">
                AND a.Specialrawmaterials LIKE CONCAT('%', #{param.specialrawmaterials}, '%')
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.SalesManagement.concrete.entity.Concrete">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.SalesManagement.concrete.entity.Concrete">
        <include refid="selectSql"></include>
    </select>

    <select id="findAllConcretes" resultType="com.eleadmin.SalesManagement.concrete.param.ConcreteParam">
        select c.*, o.orderNumber
        from concrete c
            inner join `order` o on c.OrderId=o.id and c.tenant_id=2 and o.tenant_id=2
        where o.tenant_id=2 and c.tenant_id=2
    </select>
    <update id="updateConcrete" parameterType="com.eleadmin.SalesManagement.concrete.entity.Concrete">
        update concrete set OrderId=#{orderid},Strengthlevel=#{strengthlevel},Slump=#{slump},
                            Impermeabilitylevel=#{impermeabilitylevel},FrostResistancelevel=#{frostresistancelevel},
                            SulfateResistancelevel=#{sulfateresistancelevel},Chlorideionresistancelevel=#{chlorideionresistancelevel},
                            Admixture=#{admixture},Specialrawmaterials=#{specialrawmaterials}
    </update>
    <insert id="addConcrete" parameterType="com.eleadmin.SalesManagement.concrete.entity.Concrete">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into concrete (OrderId,Strengthlevel,Slump,Impermeabilitylevel,FrostResistancelevel,SulfateResistancelevel,Chlorideionresistancelevel,
        Admixture,Specialrawmaterials,tenant_id)
               values (#{orderid},#{strengthlevel},#{slump},#{impermeabilitylevel},#{frostresistancelevel},#{sulfateresistancelevel},
                   #{chlorideionresistancelevel},#{admixture},#{specialrawmaterials},2)
    </insert>
</mapper>
